#mapid { 
    /*height must be declared in px for the map to work*/
    height: 500px; 
    float: left;
    width: 70%;
}

.dark {
    background-color: rgb(50,50,50);
    color: white;
}

html {
    font-family: 'Arial';
}
body {
    margin: 0;
}
header {
    height: 200px;
    background-color: green;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

header h1 {
    padding-top: 20px;
}

.box_top {
    height: 60px;
}

.radiobuttons {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.box_right {
    height: 500px; 
    width: 15%;
    float: left;
}

.box_left {
    height: 500px;
    width: 15%;
    float: left;
    padding-top: 15px;
}


/*sliders from w3schools.com*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#legend {
    margin-left: 5px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


footer {
    margin-top: 520px;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 1px;
    background-color: grey;
    color: white;
    text-align: center;

}